<section id="home">	
	<div class="container">
		<div class="row home">
			<div class="col-md-12 col-sm-12">
				<h1 class="wow fadeIn animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">I'M GANESH NAVALE.</h1>
				<h3 class="wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">Web App Developer</h3>
				<a href="#portfolio" class="btn btn-sm btn-default smoothScroll wow fadeInUp animated" data-wow-delay="1.3s" style="visibility: visible; animation-delay: 1.3s; animation-name: fadeInUp;">
					<i class="fa fa-angle-double-down" style="font-size:30px"></i>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="portfolio">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h2 class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">Recent work I've done during free time...</h2>
				<hr>
       			<!-- iso box section -->
       			<div class="iso-box-section">
       			 	<div class="iso-box-wrapper col4-iso-box" style="position: relative; height: 602.2px;">

       				 	<div class="iso-box graphic photoshop wallpaper col-md-4 col-sm-6" style="position: absolute; left: 0px; top: 0px;">
       				 		<div class="portfolio-thumb">
       				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
       				 				<img src="<%= asset_path('portfolio-img1.jpg') %>" class="fluid-img" alt="portfolio img">
       				 					<div class="portfolio-overlay">
       				 						<i class="fa fa-link"></i>
       				 						<h4>Project title</h4>
       				 						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
       				 					</div>
       				 			</a>
       				 		</div>
       				 	</div>

       				 	<div class="iso-box graphic wallpaper col-md-4 col-sm-6" style="position: absolute; left: 452px; top: 0px;">
       				 		<div class="portfolio-thumb">
       				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
       				 				<img src="<%= asset_path('portfolio-img2.jpg') %>" class="fluid-img" alt="portfolio img">
       				 					<div class="portfolio-overlay">
       				 						<i class="fa fa-link"></i>
       				 						<h4>Project title</h4>
       				 						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
       				 					</div>
       				 			</a>
       				 		</div>
       				 	</div>

       				 	<div class="iso-box wallpaper col-md-4 col-sm-6" style="position: absolute; left: 904px; top: 0px;">
       				 		<div class="portfolio-thumb">
       				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
       				 				<img src="<%= asset_path('portfolio-img3.jpg') %>" class="fluid-img" alt="portfolio img">
       				 					<div class="portfolio-overlay">
       				 						<i class="fa fa-link"></i>
       				 						<h4>Project title</h4>
       				 						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
       				 					</div>
       				 			</a>
       				 		</div>
       				 	</div>

       				 	<div class="iso-box graphic col-md-4 col-sm-6" style="position: absolute; left: 0px; top: 301px;">
       				 		<div class="portfolio-thumb">
       				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
       				 				<img src="<%= asset_path('portfolio-img4.jpg') %>" class="fluid-img" alt="portfolio img">
       				 					<div class="portfolio-overlay">
       				 						<i class="fa fa-link"></i>
       				 						<h4>Project title</h4>
       				 						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
       				 					</div>
       				 			</a>
       				 		</div>
       				 	</div>

       				 	<div class="iso-box wallpaper col-md-4 col-sm-6" style="position: absolute; left: 452px; top: 301px;">
       				 		<div class="portfolio-thumb">
       				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
       				 				<img src="<%= asset_path('portfolio-img5.jpg') %>" class="fluid-img" alt="portfolio img">
       				 					<div class="portfolio-overlay">
       				 						<i class="fa fa-link"></i>
       				 						<h4>Project title</h4>
       				 						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
       				 					</div>
       				 			</a>
       				 		</div>
       				 	</div>

       				 	<div class="iso-box graphic photoshop col-md-4 col-sm-6" style="position: absolute; left: 904px; top: 301px;">
       				 		<div class="portfolio-thumb">
       				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
       				 				<img src="<%= asset_path('portfolio-img6.jpg') %>" class="fluid-img" alt="portfolio img">
       				 					<div class="portfolio-overlay">
       				 						<i class="fa fa-link"></i>
       				 						<h4>Project title</h4>
       				 						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
       				 					</div>
       				 			</a>
       				 		</div>
       				 	</div>

     				 	</div>
     				</div>

					</div>

			</div>

		</div>
	</div>
</section>


<!-- =========================
    ABOUT SECTION   
============================== -->
<section id="about">
	<div class="container">
		<div class="abount_me row">
			<div class="col-md-6">
				<!-- about des -->
				<div class="about-des">
					<h1 class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">Ganesh Navale</h1>
					<h5>RoR Web Developer</h5>
					<p class="wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">Experienced Junior Web Developer with a demonstrated history of working in the information technology and services industry. Skilled in Ruby on Rails, SQL, javascript, Html, JQuery, Git, RSpec . Strong engineering professional with a Bachelor's degree focused in Computer Engineering from Sanjivani College of Engineering , Kopargaon. 
					</p>
					<ul class="social-icon text-center">
						<li><a href="#" class="fa fa-facebook wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
						<li><a href="#" class="fa fa-twitter wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
						<li><a href="#" class="fa fa-linkedin wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
						<li><a href="#" class="fa fa-google-plus wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
					</ul>
				</div>
			</div>

        <div class="col-md-6 skills wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">

            <div class="skill-item">
                <div class="progress-title">
                    RUBY ON RAILS
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-skill1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 79%;">
                        <span class="sr-only">78</span>
                    </div>
                </div>
            </div>

            <div class="skill-item">
                <div class="progress-title">
                    JAVASCRIPT
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-skill2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        <span class="sr-only">75</span>
                    </div>
                </div>
            </div>

            <div class="skill-item">
                <div class="progress-title">
                    HTML AND CSS
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-skill3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 73%;">
                        <span class="sr-only">70</span>
                    </div>
                </div>
            </div>

            <div class="skill-item">
                <div class="progress-title">
                     MySQL DATABASE
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-skill4" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
                        <span class="sr-only">72</span>
                    </div>
                </div>
            </div>

            <div class="skill-item">
                <div class="progress-title">
                    RSPEC
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-skill5" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                        <span class="sr-only">70</span>
                    </div>
                </div>
            </div>

	        </div>			
		</div>
	</div>
</section>


<!-- =========================
    CONTACT SECTION   
============================== -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class='flash_messages'> </div>
			<div class="col-md-12 col-sm-12">
				<h2 class="wow bounceIn" style="animation-name: none;">Stay up to date with  me...</h2>
				<hr>
			</div>
			<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">

				<!--- contact form here -->
				<%= form_for Contact.new, remote: true do |contact| %>
					<div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.3s" style="animation-delay: 0.3s; animation-name: none;">
						<div class="form-group left-inner-addon">
							<span class="fa fa-paper-plane"></span>
							<%= contact.text_field :name, class: "form-control name_txt", placeholder: "Name" %>
							<div class ='error'></div>
						</div>
					</div>	
					<div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.6s" style="animation-delay: 0.6s; animation-name: none;">
						<div class="form-group left-inner-addon">
							<span class="fa fa-envelope-o"></span>
							<%= contact.email_field :email, class: "form-control email_txt", placeholder: "Email" %>
							<div class ='error'></div>
						</div>	
					</div>
					<div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s" style="animation-delay: 0.9s; animation-name: none;">
						<%= contact.text_area :message, class: "form-control message_txt", placeholder: "Message", rows: 8 %>
						<div class ='error'></div>
					</div>
					<div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6 wow fadeIn text-center" data-wow-delay="0.3s" style="animation-delay: 0.3s; animation-name: none;">
						<%= contact.submit 'Send Message',class: "btn btn-primary" %>
					</div>
				<% end %>

			</div>

		</div>
	</div>
</section>