<!DOCTYPE html>
<html>
<head>
  <title>Ganesh Navale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="Ganesh Navale">
	<meta name="keywords" content="Ganesh, Navale, Ganesh Navale, Freelancers, Web Developer, Developer, Web">
	<meta name="author" content="Ganesh Navale">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
</head>
	<body data-target=".navbar-collapse" data-offset="50" data-spy="scroll">
		<%= yield %>

		<%= render partial: 'layouts/footer' %>
	</body>
</html>
